html {
    font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
    margin:0;
    padding:0;
}

body a {
    color:#2583AD;
    text-decoration:none;
}

body a:hover {
    color:#D54E21;
}

body {
    background-color:#FFFFFF;
    font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
    margin:0;
    padding:0;
}

h1 {
    padding:0 0 0.5em ;
    margin:0;
}

div.page-header {
    color:#555555;
    background-color:#E4F2FD;
    border-bottom-color:#C6D9E9;
    border-bottom-style:solid;
    border-bottom-width:1px;
    margin:0;
    padding:0.5em 0 0 0.5em;
}

div.page-body {
    min-height:400px;
    padding:1em;
}

a.section-navigator-current {
    background-color:#FFFFFF;
    border-color:#C6D9E9 #C6D9E9 #FFFFFF;
    color:#D54E21;
    border-bottom-width:2px;
    -moz-border-radius-topleft:4px;
    -moz-border-radius-topright:4px;
    border-style:solid;
    border-width:1px;
    font-weight:normal;
    padding-left:6px;
    padding-right:6px;
    font-size:16px;
    line-height:30px;
    padding:5px 7px;
    text-align:center;
    text-decoration:none;
}

a.section-navigator-other:hover {
    color:#D54E21;
}

a.section-navigator-other {
    border-color:#C6D9E9 #C6D9E9 #FFFFFF;
    color:#2583AD;
    border-bottom-width:2px;
    font-weight:normal;
    padding-left:6px;
    padding-right:6px;
    font-size:16px;
    line-height:30px;
    padding:5px 7px;
    text-align:center;
    text-decoration:none;
}

div.browse-chapter-title {
    font-size:150%;
    clear:both;
    text-align:center;
    padding-top:1em;
}

div.browse-chapter-audio {
    font-size:70;
    clear:both;
    text-align:center;
}

div.browse-toolbar {
    width:100%;
    padding:0.5em;
}

form.browse-form {
    float:left;
    padding-left:11px;
    margin-bottom:0px;
    margin-right:0.5em;
}

form.browse-form select,input {
    vertical-align:top;
}

span.browse-table-verse-header {
    vertical-align:top;
    padding-right:1em;
    white-space:nowrap;
    display:table-cell;
}

span.browse-table-verse-content {
    vertical-align:top;
    display:table-cell;
}

span.browse-table-verse-subtitle {
    font-weight:bold;
    display:inline;
}

span.browse-paragraph-verse-number {
    font-size:70%;
    padding-left:0.5em;
    vertical-align:top;
}

span.browse-paragraph-1stverse-number {
    font-size:70%;
    vertical-align:top;
    padding-left:4em;
}

div.browse-table-chapter {
    padding:1em 1em 1em 1em;
}

div.browse-paragraph-chapter {
    padding:1em 2em 1em 2em;
}

div.browse-paragraph-verse-subtitle {
    font-weight:bold;
    padding-top:1em;
}

img.browse-arrows {
    vertical-align:top;
    height:20px;
    border:0;
}

div.retrieve-range {
    padding:0.25em 1em 0.25em 1em;
    border-bottom:1px dashed #661100;
}

form.query-form {
    display:inline;
    margin-bottom:0px;
    margin-left:0.5em;
}

div.query-form-standalone {
    padding:1em 1em 0em 1em;
}

div.query-verse {
    border-top:1px dashed #661100;
    padding:0.5em 0.5em 0.5em 0.5em;
}

div.query-title {
    width:100%;
    padding:0em 1em;
    text-align:center;
}

div.query-paginate {
    font-size:80%;
    width:100%;
    padding:1em;
    text-align:center;
}

span.query-paginate-current-page {
    margin:1em;
    color:red;
}

span.query-paginate-other-page {
    margin:1em;
}

table.static-table {
    border:0;
    height:100%;
}

tr.static-table-row {
    padding:1em 1em 1em 2em;
    vertical-align:top;
}

div.static h1 {
    text-align:center;
    padding:0.5em;
}

td.static-content {
    padding:1em 2em 1em 2em;
    width:80%;
    border-left:thin solid;
}

td.static-section-index {
    width:18%;
}

td.static-section-index ul {
    margin:0;
    padding:1em 1em 1em 2em;
    font-size:85%;
    list-style-image:none;
    list-style-type:none;
}

li.static-page-current a {
    color:#D54E21;
}

table.glossary-index-anchors {
    padding:1em 2em 1em 2em;
    width:100%;
    border-bottom:#C6D9E9 solid 1px;
}

table.glossary-index-anchors a {
    padding:0.25em;
}

table.glossary-index-anchors td {
    width:50%;
    padding:0.5em;
    vertical-align:top;
}

div.glossary-index-header {
    padding:1em;
    font-size:150%;
    text-align:center;
}

table.glossary-index-table {
    padding:0em 2em 1em 2em;
    width:100%;
}

table.glossary-index-table td {
    width:50%;
}

#gospel-left {
    float:left;
    padding:1em;
    width:15%;
}

#gospel-left ul {
    list-style-image:none;
    list-style-type:none;
}

#gospel-body {
    float:left;
    width:70%;
    padding:1em;
}

#map_canvas {
    text-align:center;
    padding:1em;
    width:800px;
    height:550px;
}

div.biblemap-toolbar {
    padding:0 0 1em 0;
}

div.bible-map-notes {
    font-size:80%;
}

div.bible-map-verses {
    font-size:75%;
}

div.glossary {
    padding:2em;
    margin:2em;
    border:thin double;
    -moz-border-radius:10px;
}

div.glossary-name {
    padding:0em 0em 0.5em 0em;
    font-size:150%;
}

div.glossary-definition {
    padding:1em 0 0.5em 0;
    font-size:120%;
}

div.footnote {
    font-size:80%;
    padding:1em;
}

div.footnote-reference {
    display:inline;
    padding:0 0 0 1em;
}

div.footnote-content {
    display:inline;
    padding:0 0.25em;
}

img.footnote-icon {
    padding:0 0.25em 0 0;
    border:0;
    height:20px;
}

table.interlinear-table {
    margin:2em;
}

tr.interlinear-verse {
    vertical-align:top;
}

td.interlinear-verse-number {
    padding:0 1em 0 0;
}

td.interlinear-verse-group {
    padding:0 0 0.75em 0;
}

div.interlinear-versions {
    text-align:center;
    margin: -1em 0 1em 0;
}

span.interlinear-version {
    font-size:70%;
    font-weight:bold;
    color:gray;
    padding:0 0.5em 0 0;
}

th.contactus-form {
    text-align:right;
}

div.subject {
    margin:0.25em 1em 1em 0.25em;
    width:40%;
    float:left;
    -moz-border-radius:10px;
    border:solid 1px;
}

div.subject-title {
    margin:0.2em 0.2em 0.2em 0.7em;
}

div.subject-subtitles {
    background-color:white;
    margin:0.5em;
}

div.subject-subtitle {
    font-size:80%;
    display:inline;
    padding:0.2em;
}

div.maintenance {
    text-align:center;
    width:50%;
    font-size:200%;
}

div.contactus-form {
    padding:1.5em;
}

div.retrieve-audio {
    font-size:70;
    display:inline;
}

div.common-copyright {
    color:#555555;
    background-color:#E4F2FD;
    border-top-color:#C6D9E9;
    border-top-style:solid;
    border-top-width:1px;
    margin:0;
    padding:0.5em;
    font-size:70%;
    clear:both;
    text-align:center;
}
