<h1>參考資料</h1>
<h2>聖經版本</h2>
<ol>
  <li>聖經新舊約全書(串珠)聖經公會在香港印發 (上下排版)</li>
  <li>聖經新舊約全書浸信會出版社印行</li>
  <li>聖經(助讀本)于力功 聖書書房</li>
  <li>聖經(啟導本--紅字版)海天書樓</li>
  <li>聖經(新標點和合本)聯合聖經公會</li>
  <li>聖經(靈修版)國際聖經協會1999年3月</li>
  <li>聖經(現代中文譯本)聖經公會</li>
  <li>聖經(HOLY BIBLE中/英對照)國際聖經協會</li>
  <li>新約聖經(新國際版研讀本)鮑會園 更新傳道會</li>
  <li>新約聖經(恢復本)台灣福音書房</li>
  <li>聖經新約原文字彙中文彙編 王正中 浸宣出版社</li>
  <li>新約經文彙編 (原文編號) 福音證主協會</li>
  <li>新約全書 (原文編號) 福音證主協會 </li>
</ol>
<h2>聖經工具書</h2>
<ol>
  <li>聖經引得 顧敦鍒 等編 聖經公會在香港印發</li>
  <li>聖經人地名意義彙編 歸主出版社 陳瑞庭</li>
  <li>舊約概論 馬有藻 中國信徒佈道會</li>
  <li>新約概論 馬有藻 中國信徒佈道會</li>
  <li>證主聖經百科 ( I、II、III )</li>
  <li>證主聖經手冊 </li>
</ol>
<h2>靈修參考書</h2>
<ol>
  <li>馬太福音 張志新 臺灣石門水庫教會</li>
  <li>馬可福音 張志新 臺灣石門水庫教會</li>
  <li>路加福音 張志新 臺灣石門水庫教會</li>
  <li>約翰福音 張志新 臺灣石門水庫教會</li>
  <li>使徒行傳 張志新 臺灣石門水庫教會</li>
  <li>羅馬書 張志新 臺灣石門水庫教會</li>
  <li>荒漠甘泉 考門夫人 大光書局</li>
  <li>每日讀經 大光書局</li>
  <li>頌主新歌－啟應經文 </li>
</ol>
<h2>聖經地圖</h2>
<ol>
  <li>聖經地圖英文資料由 http://www.openbible.info/geo/data/places.txt</li>
</ol>	
<h2>聖經主題</h2>
<ol>
  <li>聖經主題英文資料由 http://www.apostolic-churches.net/bible/sbs</li>
</ol>	
<h2>MP3 聖經</h2>
<ol>
  <li>英文欽定本由 http://www.bible-tracts.net/KJV/1/</li>
  <li>國語和合本由 http://www.haomuren.org/</li>
</ol>
