<ol>
  <li>張志新長老－在1990至1994年期間，本人獨居台灣(家庭移居阿根廷)，白天在核能研究所工作，晚在石門水庫教會看守耶和華的殿堂(居住於教會)，也在石門水庫教會聚會，並參加石門水庫教會所設的基督徒事奉訓練班，在那段其間，受張志新長老的教誨甚多，尤其在讀經和禱告的操練上，電腦聖經的雛形就在1991年形成。張長老常勉我們在有生之年，要讀聖經百遍，這也成了我每日讀經的一種挑戰，1990至 2000我已讀聖經三十遍。</li>
  <li>陳路牧師－1993年間，陳路牧師來石門水庫教會帶領我們要追求聖靈充滿，因為這是主的命令(弗5：17)，因而有機緣與陳路牧師認識，當他得知我已完成『電腦聖經程式時』(只具初步查詢功能)，曾親身費了三個小時，來聽我講解該程式之結構與功能，聽後他大為讚嘆，要我為他製作六套，他要送給其他弟兄使用，並為我奉獻了一筆費用，足夠我買一張回阿根廷的機票(那時我已辭去核能研究所的工作)，讓我能與妻兒子女團聚，哈利路亞，感謝讚美主！(1993年10月，在阿根廷妻與孩子們開張了一間照像館店，不必再留在台灣工作了)。回阿很曾打電話來鼓勵我，要我能在程式中加入聖經人名、地名和聖經辭彙之查詢資料，使之成為更具功能的查詢工具程式。</li>
  <li>林起鳳牧師－1991年1月，石門水庫教會開辦石門基督徒事奉訓練中心張志新長老，請林牧師來教我們如全何向人傳福音的課程，使我有機會認識林牧師，他是台北通化街潮州浸信會的牧師，他對這套電腦聖經程式，非常感興趣，對我尤多鼓勵，曾請基督教論壇報記游君筑女士來採訪，並將之登載在1993年3月14日基督教論壇報之人物報導專欄上，願一切榮耀歸給主。</li>
  <li>成輝營牧師－成輝營牧師是我們再度移民至加拿大蒙特婁時，經詹瑞福弟兄之引領至加拿大滿地可華人宣道會恩典堂敬拜　神時所認識的，是恩典堂的主任牧師，1998年8月，奉成牧師差遣與邵遵灡牧師配搭到莫斯科作短宣培訓，使我有機會至法國巴黎 和俄國莫斯科，和許多教會的牧者認識，同時也贈送了耶大雅聖經電腦程式給莫斯的華人教會。參見 附件文。</li>
  <li>黃金台姊妹－黃金台是一位信主不久的姊妹，但很愛主，在1991 年，她看我每天都在很辛勤地將聖經經文輸入電腦，她自願幫我將部份舊約聖經經文，將之輸入電腦，後來她在教會中擔任電腦文字方面的工作，相信她為主所擺上的，主必記念。</li>
  <li>劉美娜姊妹－劉美娜是我服務單位，中山科學研究院的同事，也同在石門水庫教會聚會，使用本程式時，部份的新約聖經經文由她校對，為她感謝主。在回阿根之前，我曾將此電腦聖經程式所收到的金錢奉獻二萬餘元新台幣其中的2/3請劉美娜姊妹轉奉獻到福音煙毒勒戒所(劉民和牧師)，作他們新建所舍之用，其餘的則用來購買全部聖經程式中所用到之全部軟體工具程式，如 Windows、Office 和 中文 Quick Basic、中文 ET3和其他一些應用軟體。使我不至成為軟體程式的盜用者，這也是　神的恩典。</li>
  <li>楊雲貞姊妹－1994 年楊雲貞姊妹由阿根廷移加拿大的蒙特婁，行前贈送了此套電腦聖經程式給她(因她想讀神學院)，感謝主，她很用心的用此套聖經來讀經，並記錄其中之錯字或別字，並將記錄寄來給我，有利於我的除錯工作，特此向楊姊妹獻上感謝之誠。</li>
  <li>楊鎔鑑長老－1995年間，阿根廷阿京中華基督教會，長老楊鎔鑑，為本程式中的全部聖經綱要作逐字的校正，感謝他的幫助反使得許多錯字得以更正。</li>
  <li>管雪姊妹－於1996 年間，每日與吾妻管雪姊妹，於每日早晨晨更時，共同讀經禱告，她用聖經，我則用電腦聖經，同步讀經，且出聲朗讀，一面讀經，一面記錄電腦聖經檔案中誤謬之處，於晨禱完畢後，隨即修改，以期達到零錯誤之境界，如此一年來，管雪在一年內讀畢聖經一遍。也由此開始建立了我們家庭之間的祭壇。</li>
  <li>柯善士長老－1998年來加拿大蒙特婁後，阿根廷新興教會柯善士長老，曾在電子郵件中，鼓勵我能盡快將聖經程式能上電腦網路，使許多弟兄姊妹方便使用，在2000年間，在榮兒的幫助(設計網頁)，終於在 2001年元月以 http://bibletool.cjb.net/ 網址上電腦網路，求神能記念孩兒的擺上，賜福給他，能重用他成為神的器皿。</li>
  <li>一位愛心的姊妹－有位台灣玉免牌文具公司的一位姊妹(可能是股東之一)，無意中看到我的聖經程式，心受感動，特寄了一張三千元台幣的匯票給我，事隔多年，我已忘記了她的名字，但相信　神會記念她的愛心。 </ol>
<p>2001 年 1 月 1 日</p>
<p>耶大雅 於 加拿大 蒙特婁</p>
