RewriteEngine On

RewriteCond %{HTTP_HOST} ^konline.org [OR]
RewriteCond %{HTTP_HOST} ^www.konline.org [OR]
RewriteCond %{HTTP_HOST} ^bibletool.konline.org
RewriteRule ^$ "https\:\/\/bibletool\.konline\.org\/browse\/" [R=301,L]

RewriteRule ^static/([^/]+) index.php?action=static&page=$1 [L]

RewriteRule ^browse/([^/]+) index.php?action=browse&jsonURL=$1 [L]
RewriteRule ^browse index.php?action=browse [L]

RewriteRule ^interlinear/([^/]+) index.php?action=interlinear&jsonURL=$1 [L]
RewriteRule ^interlinear index.php?action=interlinear [L]

RewriteRule ^query index.php?action=query [L]

RewriteRule ^calendar/index index.php?action=calendar&index=1 [L]
RewriteRule ^calendar index.php?action=calendar [L]

RewriteRule ^gospel$ index.php?action=gospel [L]
RewriteRule ^gospel/([^/]+) index.php?action=gospel&page=$1 [L]

RewriteRule ^outline$ index.php?action=outline [L]
RewriteRule ^outline/([^/]+) index.php?action=outline&page=$1 [L]

RewriteRule ^contactus/posting index.php?action=contactus&posting=true [L]
RewriteRule ^contactus index.php?action=contactus [L]

RewriteRule ^biblemap/index index.php?action=biblemap&index=1 [L]
RewriteRule ^biblemap index.php?action=biblemap [L]

RewriteRule ^retrieve/(.*) index.php?action=retrieve&ranges=$1 [L]

RewriteRule ^search/([^/]+)/q=(.*)&page=(.*) index.php?action=search&language=$1&q=$2&page=$3 "[L,QSA,B= ?,BNP]"
RewriteRule ^search/([^/]+)/([^/]+)/q=(.*)&page=(.*) index.php?action=search&language=$1&book_filter=$2&q=$3&page=$4 "[L,QSA,B= ?,BNP]"
RewriteRule ^search/([^/]+)/q=(.*) index.php?action=search&language=$1&q=$2 "[L,QSA,B= ?,BNP]"
RewriteRule ^search/([^/]+)/([^/]+)/q=(.*) index.php?action=search&language=$1&book_filter=$2&q=$3 "[L,QSA,B= ?,BNP]"

RewriteRule ^glossary/index index.php?action=glossary&index=1 [L]
RewriteRule ^glossary/stroke/([^/]+) index.php?action=glossary&stroke=$1 [L]
RewriteRule ^glossary/word/([^/]+) index.php?action=glossary&word=$1 [L]
RewriteRule ^glossary/retrieve/(.*) index.php?action=glossary&ranges=$1 [L]
RewriteRule ^glossary index.php?action=glossary [L]

RewriteRule ^subjects/index index.php?action=subjects&index=1 [L]
RewriteRule ^subjects index.php?action=subjects [L]

<IfModule mod_expires.c>
  ExpiresActive on
  ExpiresDefault "access plus 1 days"
  ExpiresByType application/javascript "access plus 600 seconds"
  ExpiresByType text/css "access plus 600 seconds"
  ExpiresByType text/javascript "access plus 600 seconds"
  ExpiresByType text/html "access plus 600 seconds"
</IfModule>
