[database]
host = "127.0.0.1"
port = "3306"
user = "bible"
pass = "bible"
dbname = "bible"

[smarty]
templates_dir = "templates"
compiler_dir  = "templates_c"
cache_dir     = "cache"
config_dir    = "etc"
webroot       = ""
