<h1 ALIGN="center">歷代志上簡介</h1>
<p>
歷代志上是聖經中的第十三卷經書，也是舊約歷史書中的第八卷。本卷書原名的意義是「日記」或「記事」，它的內容都是講到歷代君王的記事。本卷書只記載猶大國的歷史，而不提到以色列國，這是因為：</p>
<p>1.神記念祂和大衛所立的約(撒下17章)，</p>
<p>2.猶大國的王還有行「耶和華眼中看為正的事」，</p>
<p>3.以色列國的王自開始就拜偶像和外邦可憎的邪神，沒有一個君王不行耶和華眼中看為惡的事，</p>
<p>4.只有猶大國的歷史，更能幫助歸回故國的百姓回到神的面前去尋求祂。</p>
<p>
本卷書對於利未人的職責、祭司的班次、建殿的經過、祭祀和節期，說得非常清楚，好使百姓羨慕律法書中的記載。對於列王的興盛衰敗的原因，也記得非常具體，好使百姓看準：親近　神、順服　神的必得祝福，遠離　神、背叛　神的定受咒詛。百姓和君王對於萬王之王的態度，定規了他們的前途和歷史。</p>
<hr>
<h1 ALIGN="center">歷代志上大綱</h1>
<table BORDER="1" ALIGN="center">
<tr>
<td>一、 譜系—自亞當至大衛王</td>
<td>1:1-9:44</td>
</tr>
<tr>
<td>二、 大衛王朝的歷史</td>
<td>10:1-29:30</td>
</tr>
<tr>
<td>1.王國的建立</td>
<td>10:1-12:40</td>
</tr>
<tr>
<td>2.迎約櫃至耶路撒冷</td>
<td>13:1-16:43</td>
</tr>
<tr>
<td>3.籌備建造聖殿</td>
<td>17:1-22:18</td>
</tr>
<tr>
<td>4.管理聖殿的計劃</td>
<td>23:1-27:34</td>
</tr>
<tr>
<td>5.建殿的最後囑咐</td>
<td>28:1-29:30</td>
</tr>
</table>
<p>註1 : 在代上2:31,34-35 中亞來應為示冊的女兒</p>
<p>註2 : 在代上24:16之人名中譯"以西結"按原文為 "Jehezekel" 應譯為耶希斯刻,以西結之原文為
"Ezekiel"</p>
<hr>
<h1 ALIGN="center">歷代志上表解</h1>
<table BORDER="1" ALIGN="center">
<tr>
<td ALIGN="center">重點</td>
<td ALIGN="center">大衛支派</td>
<td ALIGN="center" COLSPAN="4">大衛王朝</td>
</tr>
<tr>
<td ALIGN="center">分段</td>
<td ALIGN="center">
<p>大衛及以色列的家譜</p>
<p>1-9</p>
</td>
<td ALIGN="center">
<p>神的約櫃</p>
<p>10-16</p>
</td>
<td ALIGN="center">
<p>與神立約</p>
<p>17-21</p>
</td>
<td ALIGN="center">
<p>神的聖殿</p>
<p>22-27</p>
</td>
<td ALIGN="center">
<p>臨終之言</p>
<p>28-29</p>
</td>
</tr>
<tr>
<td ALIGN="center" ROWSPAN="2">主題</td>
<td ALIGN="center">家譜</td>
<td ALIGN="center" COLSPAN="4">歷史</td>
</tr>
<tr>
<td ALIGN="center">大衛祖先</td>
<td ALIGN="center" COLSPAN="4">大衛的行政</td>
</tr>
<tr>
<td ALIGN="center">地點</td>
<td ALIGN="center" COLSPAN="5">統 一的以色列王國</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center">數千年</td>
<td ALIGN="center" COLSPAN="4">約四十年</td>
</tr>
</table>
