<h1 ALIGN="center">傳道書簡介</h1>
<p>
傳道書是聖經中的第二十一卷經書，詩歌智慧書中的第四卷，傳道書是一卷非常難讀，難明白的一卷書，存在著許多問題，可是當人受到管教，人的年齡或經歷增長些許時，再來讀傳道書就不難解決它的問題。</p>
<p>本書的中心思想，就是證實人在日光之下縱然得了全世的學問、知識、金銀、財富、名聲、地位、娛樂、享受....可是他若沒有
神，仍屬虛空，因為人的結局乃是死，死後且有審判(來9:27)。</p>
<p>
聖靈之所以揀選所羅門寫傳道書，因他曾有一段失敗的經歷，　神立他為君，又賜他極大的智慧；起初他以智慧治國，但後來卻持智慧自傲，放縱情慾，背叛
神，尋求屬世的奢侈生活。所有關於君王的條例，都被他破壞無遺。他有最高的地位，極大的智慧，頂厚的財力；可以說日光之下沒有一人可以比之。一切的學問、名利、享樂他都得著，但他不能滿足，從他的經驗他得到一個結結；說：「虛空的虛空、虛空的虛空，凡事都虛空。」(傳1:2)</p>
<hr>
<h1 ALIGN="center">傳道書大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 人間智慧的無益</td>
<td>1:1-2:23</td>
</tr>
<tr>
<td>二、 人生問題的應付之道</td>
<td>2:24-3:22</td>
</tr>
<tr>
<td>三、 從人的眼光看人生</td>
<td>4:1-10:20</td>
</tr>
<tr>
<td>四、 傳道者的呼聲：及時作抉擇</td>
<td>11:1-12:8</td>
</tr>
<tr>
<td>五、 最後的話</td>
<td>12:9-12:14</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">傳道書表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">重點</td>
<td ALIGN="center" COLSPAN="3">探索</td>
<td ALIGN="center" COLSPAN="3">訓誡</td>
</tr>
<tr>
<td ALIGN="center">分段</td>
<td ALIGN="center">
<p>凡事都虛空</p>
<p>1</p>
</td>
<td ALIGN="center">
<p>作為的空虛</p>
<p>2</p>
</td>
<td ALIGN="center">
<p>擁有的虛空</p>
<p>3-6</p>
</td>
<td ALIGN="center">
<p>努力的虛空</p>
<p>7-9</p>
</td>
<td ALIGN="center">
<p>要善用生命</p>
<p>10-11</p>
</td>
<td ALIGN="center">
<p>生命之源頭</p>
<p>12</p>
</td>
</tr>
<tr>
<td ALIGN="center" ROWSPAN="2">主題</td>
<td ALIGN="center" COLSPAN="3">探索生命之矛盾</td>
<td ALIGN="center" COLSPAN="3">解答生命之矛盾</td>
</tr>
<tr>
<td ALIGN="center" COLSPAN="6">多變的人生與敬畏神</td>
</tr>
<tr>
<td ALIGN="center">地點</td>
<td ALIGN="center" COLSPAN="6">在日光之下</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center" COLSPAN="6">所羅門王時代</td>
</tr>
</table>
