<h1 ALIGN="center">出埃及記簡介</h1>
<p>
出埃及記是聖經的第二卷經書，是創世記的延續；創世記是記載人類的失敗和罪惡，可是也得  神的憐恤和救恩。　神的救恩就是　神的救贖計劃；出埃及記就是講到　神的救贖最詳細和最具體的一卷經書。</p>
<p>神的救贖是有其特點的；它必須是：</p>
<p>(1) 出於神(出 3:9)「現在以色列人的哀聲達到我耳中，我也看見埃及人怎樣欺壓他們。」</p>
<p>(2) 藉著一個器皿—摩西 (出 3:10)「故此我要打發你去見法老，使你可以將我的百姓以色列人從埃及領出來。」</p>
<p>(3) 藉著血—(出12:13)「這血要在你們所住的房屋上作記號，我一見這血，就越過你們去，我擊打埃及地頭生的時候，災殃必不臨到你們身上滅你們。」</p>
<p>(4) 藉著能力—(出6:6)「所以你要對以色列人說：『我是耶和華，我要用伸出來的膀臂重重的刑罰埃及人，救贖你們脫離他們的重擔，不作他們的苦工。」(出
13:14)「日後，你的兒子問你說：『這是甚麼意思？』你就說：『耶和華用大能的手將我們從埃及為奴之家領出來。」</p>
<p>出埃及記這卷書的名稱為「走出」的意思。人類失敗的結果是陷在罪中，作罪的奴隸，　神的救贖就是使人類走出罪的枷鎖。</p>
<p>
除了救贖是本卷書的中心信息外，還講到律法、會幕和祭司；因為神的子民蒙救贖以後，就應明白和遵行救贖者的旨意，向祂敬拜與祂交通，並事奉祂。</p>
<p>全書共四十章，曾提到兩個「十」字；一個是「十災」(出七章至十一章)、另一個是「十誡」(出廿章)：十災原係對付法老王，但對基督徒來講，是對付自己的「肉體」；有管教的屬靈意義；「十誡」原係傳給　神選民的；對基督徒的靈命而言有造就自己的意思。</p>
<hr>
<h1 ALIGN="center">出埃及記大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、希伯來人埃及為奴</td>
<td>1:1-1:22</td>
</tr>
<tr>
<td>二、出埃及前的預備</td>
<td>2:1-6:30</td>
</tr>
<tr>
<td>三、神降十災</td>
<td>7:1-13:16</td>
</tr>
<tr>
<td>四、出埃及過紅海</td>
<td>13:17-15:21</td>
</tr>
<tr>
<td>五、從紅海到西乃山</td>
<td>15:22-18:27</td>
</tr>
<tr>
<td>六、西乃山下頒律法</td>
<td>19:1-24:18</td>
</tr>
<tr>
<td>七、建造會幕</td>
<td>25:1-40:38</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">出埃及記表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">重點</td>
<td ALIGN="center" COLSPAN="2">奴役</td>
<td ALIGN="center" COLSPAN="4">釋放</td>
<td ALIGN="center" COLSPAN="4">彰顯</td>
</tr>
<tr>
<td ALIGN="center">分段</td>
<td ALIGN="center">
<p>埃及為奴</p>
<p>1-2</p>
</td>
<td ALIGN="center">
<p>摩西蒙召</p>
<p>3-6</p>
</td>
<td ALIGN="center">
<p>降十災</p>
<p>7-10</p>
</td>
<td ALIGN="center">
<p>逾越節</p>
<p>11-12</p>
</td>
<td ALIGN="center">
<p>過紅海</p>
<p>13-15</p>
</td>
<td ALIGN="center">
<p>西乃山</p>
<p>16-18</p>
</td>
<td ALIGN="center">
<p>傳十戒</p>
<p>19-24</p>
</td>
<td ALIGN="center">
<p>建會幕</p>
<p>25-31</p>
</td>
<td ALIGN="center">
<p>金牛犢</p>
<p>32-34</p>
</td>
<td ALIGN="center">
<p>會幕榮光</p>
<p>35-40</p>
</td>
</tr>
<tr>
<td ALIGN="center">主題</td>
<td ALIGN="center" COLSPAN="2">
<p>民族雛形期</p>
<p>(預備)</p>
</td>
<td ALIGN="center" COLSPAN="4">
<p>民族誕生期</p>
<p>(救贖)</p>
</td>
<td ALIGN="center" COLSPAN="4">
<p>民族嬰兒期</p>
<p>(指示)</p>
</td>
</tr>
<tr>
<td ALIGN="center">地點</td>
<td ALIGN="center" COLSPAN="2">埃及</td>
<td ALIGN="center" COLSPAN="4">曠野</td>
<td ALIGN="center" COLSPAN="4">西乃山</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center" COLSPAN="2">
<p>430 年</p>
<p>佔出埃及記的 15%</p>
</td>
<td ALIGN="center" COLSPAN="4">
<p>兩個月</p>
<p>佔出埃及記的 30%</p>
</td>
<td ALIGN="center" COLSPAN="4">
<p>十個月</p>
<p>佔出埃及記的 55%</p>
</td>
</tr>
</table>
