<h1 ALIGN="center">以西結書簡介</h1>
<p>
以西結書是全部聖經中第二十六卷書,先知以西結在主前586年耶路撒冷陷落前後住在巴比倫，過著流亡的生活。他的信息是針對流亡巴比倫和留在耶路撒冷的人民而發的。以西結書的內容可分為四部：</p>
<p>一、警告人民關於神的審判和耶路撒冷的毀滅。</p>
<p>二、有關迫害和誘惑　神子民的國家將受懲罰的信息。</p>
<p>三、慰勉耶路撒冷淪陷後的以色列人，並預言有光明的前途。</p>
<p>四、以西結對復國和重建聖殿的遠象。</p>
<p>
以西結是一個具有堅定信心和豐富想像力的人，他的許多深遠的見解都藉著異象表達，而他的信息往往由象徵性的行動顯示出來。以西結重視內心和靈性上的更新，強調每一個人應對自己的罪負責，同時宣佈他對復興國家所抱的希望。他肩負祭司和先知的雙重任務，故特別關心聖殿和聖潔的事。</p>
<hr>
<h1 ALIGN="center">以西結書大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 審判的信息-被擄之前</td>
<td>1:1-24:27</td>
</tr>
<tr>
<td>二、 復興的信息-被擄之時</td>
<td>25:1-48:35</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">以西結書表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">重點</td>
<td ALIGN="center" COLSPAN="4">猶大的滅亡</td>
<td ALIGN="center" COLSPAN="2">猶大的敵人</td>
<td ALIGN="center" COLSPAN="2">耶路撒冷</td>
</tr>
<tr>
<td ALIGN="center">分段</td>
<td ALIGN="center">
<p>異象與乎召</p>
<p>1-3</p>
</td>
<td ALIGN="center">
<p>信號與信息</p>
<p>4-6</p>
</td>
<td ALIGN="center">
<p>離去的榮耀</p>
<p>7-11</p>
</td>
<td ALIGN="center">
<p>審判的比喻</p>
<p>13-24</p>
</td>
<td ALIGN="center">
<p>敵人的審判</p>
<p>25-28</p>
</td>
<td ALIGN="center">
<p>埃及的審判</p>
<p>29-33</p>
</td>
<td ALIGN="center">
<p>以色列的新生</p>
<p>33-39</p>
</td>
<td ALIGN="center">
<p>以色列的新殿</p>
<p>40-48</p>
</td>
</tr>
<tr>
<td ALIGN="center" ROWSPAN="2">主題</td>
<td ALIGN="center" COLSPAN="4">
<p>圍城之前</p>
<p>主前 592-587 年</p>
</td>
<td ALIGN="center" COLSPAN="2">
<p>圍城之時</p>
<p>主前 586 年</p>
</td>
<td ALIGN="center" COLSPAN="2">
<p>圍城之後</p>
<p>主前 585-570年</p>
</td>
</tr>
<tr>
<td ALIGN="center" COLSPAN="5">定罪</td>
<td ALIGN="center" COLSPAN="3">安慰</td>
</tr>
<tr>
<td ALIGN="center">地點</td>
<td ALIGN="center" COLSPAN="8">巴比倫</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center" COLSPAN="8">約 22 年(主前 592-570 年)</td>
</tr>
</table>
