<h1 ALIGN="center">加拉太書簡介</h1>
<p>
加拉太書是聖經中的第四十八卷經書，是新約中的第九卷。是保羅寫給加拉太教會的書信。介紹福音最有系統的的一本書信。羅馬書中因信稱義的真理在這卷書中有更進一步的闡明(加2:16)</p>
<p>
在加拉太教會中，有人要求遵守摩西律法中的割禮，和飲食的潔淨條例又要恪守猶太之各種節令，保羅認為這是與福音不合的，因為按真理福音是白白賜給一切相信基督的人，不須也不靠人的努力去換取，在基督裏的人自由的，是靠聖靈憑愛心行事，不應受律法的挾制；保羅在仁慈中帶著無畏無懼的精神，說明承受天國不是倚靠著律法，而是藉著恩典；但又說明順從聖靈而不放縱肉體，才能成功地過基督徒的生活，基督裏的自由其實是指在聖靈裏自由的結出公義的果子來。 </p>
<p>基督釋放了我們，叫我們得以自由(加5:1)，贏得了「基督徒自由憲章」的美譽。</p>
<hr>
<h1 ALIGN="center">加拉太書大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 簡介</td>
<td>1:1-1:9</td>
</tr>
<tr>
<td>二、 保羅使徒權柄的來源</td>
<td>1:10-2:21</td>
</tr>
<tr>
<td>三、 福音的真義</td>
<td>3:1-4:31</td>
</tr>
<tr>
<td>四、 福音的實行</td>
<td>5:1-6:15</td>
</tr>
<tr>
<td>四、 結論</td>
<td>6:16-6:18</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">加拉太書表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">第 1-2 章</td>
<td ALIGN="center">第 3-4 章</td>
<td ALIGN="center">第 5-6 章</td>
</tr>
<tr>
<td ALIGN="center">權柄─沒有異議</td>
<td ALIGN="center">自由─毫無捆綁</td>
<td ALIGN="center">聖靈─不是肉體</td>
</tr>
<tr>
<td ALIGN="center">勞苦</td>
<td ALIGN="center">自由</td>
<td ALIGN="center">生命</td>
</tr>
</table>
