<h1 ALIGN="center">創世記簡介</h1>
<p>
創世記是聖經的第一卷經書，也是最重要的一卷。告訴我們關乎　神自己的啟示，宇宙和萬物的來歷，　神和人的關係，　神拯救的計劃，基督的預表，　神對人類的帶領和對付，其中每一種事實和經過、真理、教訓和啟示都孕育在創世記這卷書中，正像雛雞尚未成形；但早已包含在雞卵裡。</p>
<p>創世記第一章第一節，說：「起初  神創造天地」其中的「起初」是本卷書的字鑰。「起初」在原文的意義為「原始」，講到天地的起初，萬物的起初，人的起初，婚姻、家庭、罪惡、兇殺的起初。特別講到　神的子民以色列家的起初，　神並應許，救恩要從這家而出。</p>
<p>
若以一棵「樹」比喻聖經的話，那樹就是「生命樹」，創世記就是種子，出埃及記至申命記是這種子開始滋長，直到歷史書各卷中發芽，於先知書中長苗，至福音書中吐穗，到使徒行傳與各卷書信就結出纍纍的果實來。這顯出聖經結構上之奇妙及其一貫性。</p>
<hr>
<h1 ALIGN="center">創世記大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、人類早期的歷史</td>
<td>1:1-11:32</td>
</tr>
<tr>
<td>二、以色列民祖先的歷史</td>
<td>12:1-50:26</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">創世記表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">重點</td>
<td ALIGN="center" COLSPAN="4">四件大事</td>
<td ALIGN="center" COLSPAN="4">四大偉人</td>
</tr>
<tr>
<td ALIGN="center">分段</td>
<td ALIGN="center">
<p>創世</p>
<p>1-2</p>
</td>
<td ALIGN="center">
<p>始祖墮落</p>
<p>3-5</p>
</td>
<td ALIGN="center">
<p>洪水</p>
<p>6-9</p>
</td>
<td ALIGN="center">
<p>萬國</p>
<p>10-11</p>
</td>
<td ALIGN="center">
<p>亞伯拉罕</p>
<p>12-24</p>
</td>
<td ALIGN="center">
<p>以撒</p>
<p>25-26</p>
</td>
<td ALIGN="center">
<p>雅各</p>
<p>27-36</p>
</td>
<td ALIGN="center">
<p>約瑟</p>
<p>37-50</p>
</td>
</tr>
<tr>
<td ALIGN="center">主題</td>
<td ALIGN="center" COLSPAN="4">
<p>上古時代</p>
<p>人類的起源</p>
</td>
<td ALIGN="center" COLSPAN="4">
<p>族長時代</p>
<p>希伯來人的起源</p>
</td>
</tr>
<tr>
<td ALIGN="center">地點</td>
<td ALIGN="center" COLSPAN="4">
<p>東方</p>
<p>(伊甸到吾珥)</p>
</td>
<td ALIGN="center" COLSPAN="4">
<p>西方</p>
<p>(迦南到埃及)</p>
</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center" COLSPAN="4">
<p>2000 年以上</p>
<p>佔創世記的 20%</p>
</td>
<td ALIGN="center" COLSPAN="4">
<p>350 年左右</p>
<p>佔創世記的 80%</p>
</td>
</tr>
</table>
