<h1 ALIGN="center">以賽亞書簡介</h1>
<p>
以賽亞書是全部聖經中第二十三卷書，是先知書的第一卷，也是最長的一卷，共六十六章，在各方面都像一本六十六卷書的聖經，因此有聖經中的「小聖經」之稱。前三十九章相當舊約聖經，論到　神的警告與責備，包括歷史、詩歌和預言；預言以色列將被擄，鄰國-巴比倫、非利士、摩押、大馬色、埃及、古實、亞拉伯和推羅將要滅亡。</p>
<p>
後二十七卷相當新約聖經，論到　神的應許和恩典，並預言悔改後的以色列民將得慰、拯救和榮耀。新約中直接用以賽亞的經文多達二十一處。比其他先知書的總數還多，主耶穌剛出來傳道時就開紿引用以賽亞書(路4:16-21);腓利在曠野的路途上遇見的埃提阿伯太監，所讀的也是以賽亞書(徒8:29-35),亞賽亞書中更詳細的預言到有關彌賽亞的事，以賽亞書可謂是舊約中的新約，也是整本聖經的根基。</p>
<p>
「以賽亞」的意思是「耶和華拯救」先知一生的工作就是見證他名字的義意，不論外邦攻打猶大，或是希西家王發生難處，或是警告　神的百姓後，在預言彌賽亞時，他總是宣告「耶和華是拯救」。他是亞摩斯的兒子，妻子也是位女先知，他的二個兒子的名字都有當時代的義意,一子名施亞雅述(意為遺民必要歸回),另一子名瑪黑沙拉勒哈施罷斯(意為掠擄速到,搶奪快到)。他不但是先知，也是歷史家和詩人，書中的「葡萄園之歌」和「受苦僕人之詩」所表示的信息都以詩歌的體栽出現。其有關彌賽亞的預言，都應驗在主耶穌的身上，祂就是那「和平的君」。</p>
<hr>
<h1 ALIGN="center">以賽亞書大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 序介</td>
<td>1:1</td>
</tr>
<tr>
<td>二、 先知奉差遣傳信息</td>
<td>1:2-6:13</td>
</tr>
<tr>
<td>三、 以馬內利：和平的君公義遍萬方</td>
<td>7:1-12:6</td>
</tr>
<tr>
<td>四、 論外邦人的預言</td>
<td>13:1-23:18</td>
</tr>
<tr>
<td>五、 以色列復興的希望</td>
<td>24:1-35:10</td>
</tr>
<tr>
<td>六、 廷遲對耶路撒冷的刑罰</td>
<td>36:1-39:8</td>
</tr>
<tr>
<td>七、 神拯救以色列民的應許</td>
<td>40:1-56:8</td>
</tr>
<tr>
<td>八、 神的偉大計劃和普世救贖</td>
<td>56:9-66:24</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">以賽亞書表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">重點</td>
<td ALIGN="center" COLSPAN="3">譴責</td>
<td ALIGN="center">審判</td>
<td ALIGN="center" COLSPAN="3">安慰</td>
</tr>
<tr>
<td ALIGN="center" ROWSPAN="2">分段</td>
<td ALIGN="center" COLSPAN="4">審判臨到</td>
<td ALIGN="center" ROWSPAN="2">
<p>神的權能</p>
<p>40-48</p>
</td>
<td ALIGN="center" ROWSPAN="2">
<p>神的拯救</p>
<p>49-57</p>
</td>
<td ALIGN="center" ROWSPAN="2">
<p>神的醫治</p>
<p>58-66</p>
</td>
</tr>
<tr>
<td ALIGN="center">
<p>猶大國</p>
<p>1-12</p>
</td>
<td ALIGN="center">
<p>各國</p>
<p>13-27</p>
</td>
<td ALIGN="center">
<p>28-35</p>
</td>
<td ALIGN="center">
<p>猶大受到審判的日子</p>
<p>35-39</p>
</td>
</tr>
<tr>
<td ALIGN="center" ROWSPAN="2">主題</td>
<td ALIGN="center" COLSPAN="3">驚恐</td>
<td ALIGN="center">歷史</td>
<td ALIGN="center" COLSPAN="3">盼望</td>
</tr>
<tr>
<td ALIGN="center" COLSPAN="4">在 神審判下的呻吟 (賽1:4)</td>
<td ALIGN="center" COLSPAN="3">神救恩堛犖a耀(賽40:1)</td>
</tr>
<tr>
<td ALIGN="center">地點</td>
<td ALIGN="center" COLSPAN="4">猶大及其鄰國</td>
<td ALIGN="center" COLSPAN="3">以色列與世界</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center" COLSPAN="4">約 40 年(主前722-681 年)</td>
<td ALIGN="center" COLSPAN="3">數千年</td>
</tr>
</table>
<p>註 : 賽66:11 ..使「他們」得她豐盛的榮耀...</p>
<p>按前後文和原文(英文)應譯為「你們」較妥</p>
