<h1 ALIGN="center">約書亞記簡介</h1>
<p>約書亞記是舊約歷史書中的第一卷書，係由摩西之繼承人約書亞所寫，但最末五節(書24:29-33)，係約書亞逝世後，相傳由非尼哈所補記。本卷書是神對以色列人完成救贖計劃的記錄；神救贖的第一步是領他們出埃及，脫離為奴之地；第二步則是領他們進入迦南應許之地，享受　神所賜的產業。原本以色列人可以很快進入迦南；可是因為他們在曠野，特別是加低斯巴尼亞犯罪、叛逆、不信，以致　神救贖計畫被打岔；直等到四十年後，老的一代都過去了，新的一代起來，在曠野中的功課也學好了，　神就實現了祂的應許，完成了祂的救贖，領祂的子民進入迦南地。</p>
<p>
本卷書是一部爭戰史；它和摩西五經的關係，如同使徒行傳和四福音書的關係，具有進取和開展的性質。「約書亞記」又可與新約中的「以弗所書」彼此輝映，互為本體與影像。</p>
<p>(1)
約書亞記提到一位「救主」(約書亞)如何領百姓去得應許的產業，以弗所書則指出真實的救主(耶穌基督)如何將天上各樣屬靈福氣賜給我們為永遠的基業，祂是教會的元首(弗1:22、5:23)。</p>
<p>(2)
一個外邦女子，妓女喇合因信靠與順服，得以進入神的家中(書二章、六章)，弗二章也講論外邦人因信蒙恩的道理。喇合全家依靠一條朱紅笶繩下得庇護(2:18-19),這也是豫表耶穌寶血的救贖。對迦南人軍事作戰也豫表新約時代教會與撒但之間屬靈的爭戰。</p>
<p>(3) 約書亞將地分給各支派並前往得著應許全地。照樣耶穌將各樣恩賜賞給人，又盼望信徒能長大成人，滿有基督成長的身量(弗
4:1-16)。</p>
<p>(4) 約書亞記的中心表徵神同在的約櫃，而以弗所書所論到的一切福氣、盼望、力量的源頭等等，也都匯集在耶穌身上。</p>
<p>(5) 迦南表徵神的居所，但教會才是真實被建造成為神藉聖靈居住的居所(弗 2:19-22)。</p>
<p>(6) 得應許之地須要奮勇爭戰, 得著並保守基督裡一切豐盛福氣也須要屬靈的爭戰(弗六章)。</p>
<p>神揀選約書亞，將帶領百姓進入迦的重任交給他並非隨便決定，是有其成功的條件：</p>
<p>(1) 年輕時的約書亞作摩西幫手，己顯出特點；他不離開會幕，渴幕　神的同在(出33:11)
這也是主的工人成功的首要條件。</p>
<p>(2)
他的信心經過試驗且得勝了，他被選為窺探應許之地的十二探子之一，惟有他和迦勒說信心的話，神在召選人之前，常先試驗他們，忠心為主的人,信心必經試煉。</p>
<p>(3) 神稱讚他是心中有聖靈的(民 27:18)，可見他是忠信順從的人，因聖靈是賜給順從的人(徒 5:32)。</p>
<p>(4) 摩西曾按手在他頭上，他就被智慧的靈充滿 (申 34:9)，要服事主須有主清楚地呼召；聖靈充滿是事奉主的三條件之一(徒
6:3)。</p>
<p>(5) 他是常將神的話存記在心且謹守遵行的人(書 1:5-6)。(6)
約書亞臨終的遺言：「至於我，和我家，我們必定事奉耶和華。」(書24:15)是他一生感謝 神恩的心願，值得我們學習。</p>
<hr>
<h1 ALIGN="center">約書亞記大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 在迦南之爭戰</td>
<td>1:1-12:24</td>
</tr>
<tr>
<td>二、 以色列人拈鬮分地</td>
<td>13:1-21:45</td>
</tr>
<tr>
<td>三、 約書亞臨終之祝福與遺命</td>
<td>22:1-24:33</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">約書亞記表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">重點</td>
<td ALIGN="center" COLSPAN="3">征服迦南</td>
<td ALIGN="center" COLSPAN="3">拈鬮分地</td>
</tr>
<tr>
<td ALIGN="center">分段</td>
<td ALIGN="center">
<p>預備</p>
<p>1-5</p>
</td>
<td ALIGN="center">
<p>重大的戰役</p>
<p>6-8</p>
</td>
<td ALIGN="center">
<p>南北的擴展</p>
<p>9-12</p>
</td>
<td ALIGN="center">
<p>五支派分地</p>
<p>13-17</p>
</td>
<td ALIGN="center">
<p>七支派分地</p>
<p>18-21</p>
</td>
<td ALIGN="center">
<p>約書亞的遺言</p>
<p>22-24</p>
</td>
</tr>
<tr>
<td ALIGN="center" ROWSPAN="2">主題</td>
<td ALIGN="center" COLSPAN="3">進入迦南</td>
<td ALIGN="center" COLSPAN="3">規劃迦南</td>
</tr>
<tr>
<td ALIGN="center" COLSPAN="3">克敵致勝</td>
<td ALIGN="center" COLSPAN="3">安定迦南</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center" COLSPAN="6">
<p>九支派半在約旦河西(迦南)</p>
<p>九支派半在約旦河西(迦南)</p>
</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center" COLSPAN="3">大約七年</td>
<td ALIGN="center" COLSPAN="3">大約十八年</td>
</tr>
</table>
