<h1 ALIGN="center">馬太福音簡介</h1>
<p>
馬太福音是全部聖經中第四十卷經書，也是新約中第一卷書，是四福音書的起頭。馬太福音啟示我們，耶穌就是　神應許賜給人類拯救者；藉著祂神顯現了祂在舊約向祂子民許下的應許，這福音不但是給猶太人的，也是給全人類的。</p>
<p>在聖靈的帶領下，馬太揭示了耶穌就是基督，就是彌賽亞，祂的出生和祂事奉的型態，以至於祂的死，都正如先知對彌賽亞的預言，甚至祂死後第三天復活給信祂的人帶來了無比的盼望。</p>
<p>耶穌的教導可分五大類：</p>
<p>一、登山寶訓─論到天國子民的品性、責任、權利和命運(太5章至7章)；</p>
<p>二、十二們徒的使命(太10章)；</p>
<p>三、有關天國的比喻(太13章)；</p>
<p>四、教導作門徒的意義(太18章)；</p>
<p>五、世界的終結和　神主權的實現(太 24-25章)。</p>
<hr>
<h1 ALIGN="center">馬太福音大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 耶穌基督的家譜和祂的降生與童年</td>
<td>1:1-2:23</td>
</tr>
<tr>
<td>二、 傳道前之預備─受洗和受試探</td>
<td>3:1-4:16</td>
</tr>
<tr>
<td>三、 耶穌之傳道與牧養工作</td>
<td>4:17-25:46</td>
</tr>
<tr>
<td>四、 耶穌受難</td>
<td>26:1-27:66</td>
</tr>
<tr>
<td>五、 耶穌的復活和顯現</td>
<td>28:1-28:20</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">馬太福音表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">重點</td>
<td ALIGN="center">預備</td>
<td ALIGN="center" COLSPAN="3">型態</td>
<td ALIGN="center" COLSPAN="2">宣告</td>
<td ALIGN="center">受難</td>
</tr>
<tr>
<td ALIGN="center">分段</td>
<td ALIGN="center">
<p>君王的家譜</p>
<p>1-4</p>
</td>
<td ALIGN="center">
<p>君王的講道</p>
<p>5-7</p>
</td>
<td ALIGN="center">
<p>君王的能力</p>
<p>8-11</p>
</td>
<td ALIGN="center">
<p>君王的比喻</p>
<p>12-15</p>
</td>
<td ALIGN="center">
<p>君王的原則</p>
<p>16-19</p>
</td>
<td ALIGN="center">
<p>君王的預言</p>
<p>20-25</p>
</td>
<td ALIGN="center">
<p>君王的苦難</p>
<p>26-28</p>
</td>
</tr>
<tr>
<td ALIGN="center" ROWSPAN="2">主題</td>
<td ALIGN="center" COLSPAN="4">教導</td>
<td ALIGN="center" COLSPAN="3">教導門徒</td>
</tr>
<tr>
<td ALIGN="center" COLSPAN="4">漸受歡迎</td>
<td ALIGN="center" COLSPAN="3">漸遭排斥</td>
</tr>
<tr>
<td ALIGN="center">地點</td>
<td ALIGN="center">伯利恆及拿撒勒</td>
<td ALIGN="center" COLSPAN="3">加利利</td>
<td ALIGN="center" COLSPAN="3">耶路撒冷</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center" COLSPAN="7">主前 4 年至主後 33 年</td>
</tr>
</table>
<p>註 :</p>

<pre>
<br>
1.在太1:1-17中的家譜，有三個十四代，但實際算起來只有41代，在第二代和第三代<br>
  中耶哥尼雅重復計算了一代(太1:11-12)<br>
<br>
2.在第二代君王之家譜中間並不連續，有斷代<br>
<br>
      代上22:8      王上12:41     王上14:31     代上14:1 代下16:12-<br>
   大衛 ──&gt; 所羅門 ───&gt; 羅波安 ───&gt; 亞比雅 ──&gt; 亞撒 ──&gt;<br>
            (耶底底亞)           代下12:16 (亞比央)        代下17:1<br>
            撒下12:25<br>
<br>
         代上21:1     代下22:1        王下11:1-     王下12:19-21<br>
   約沙法 ───&gt; 約蘭 ───&gt;〔亞哈謝 ───&gt; 約阿施 ───&gt; 亞瑪謝〕<br>
         王上22:50    王下8:24  │     -11:21                      │<br>
         王下8:16               └───&gt; (馬太福音未記載) ────┘<br>
<br>
<br>
   王下14:21       王下15:32    王下15:38     王下18:1     王下20:21<br>
     ───&gt; 烏西亞 ───&gt; 約坦 ───&gt; 亞哈斯 ──&gt;希西家 ──&gt; 瑪拿西<br>
           (亞撒利亞)<br>
<br>
<br>
   王下21:17    王下21:26        王下23:28-30  代下23:31-35<br>
    ───&gt; 亞們 ────&gt; 約西亞 ────┬&gt;  約哈斯(沙龍)<br>
                                          │     約西亞之子 (以利亞敬)<br>
                                          ├────────┘ │<br>
                                          │                   │<br>
                                          └&gt;(馬太福音未記載)─┘<br>
<br>
   王上24:6-7       王下24:17<br>
  ─────&gt;約亞斤────&gt;瑪探亞(被擄至巴比倫)<br>
            (約亞敬)        (西底家)<br>
                   │<br>
                   └──&gt;耶哥尼雅<br>
<br>
3.約西亞長子約哈難次子約亞敬(約亞斤)三子西底家四子沙龍(約哈斯)約亞敬的<br>
  兒子是耶哥尼雅(代上3:15)<br>
<br>
    約西亞 ──&gt; 耶哥尼雅 ──&gt; 撒拉鐵 ──&gt; 所羅巴伯 ──&gt;<br>
    亞比玉 ──&gt; 以利亞敬 ──&gt; 亞所 ──&gt; 撒i ──&gt; 亞金<br>
    以律 ──&gt;  以利亞撒 ──&gt; 馬但 ──&gt; 雅各 ──&gt;<br>
    約瑟(馬利亞的丈夫) ──&gt; 耶穌<br>
<br>
4.所羅巴伯非為撒拉鐵之兒子，仍其兄弟之兒子(因撒拉鐵無子)，所羅巴伯以後之<br>
  家在舊約中無記載(﹖)<br>
</pre>
