<h1 ALIGN="center">彌迦書簡介</h1>
<p>
彌迦書是全部聖經中第三十三卷書，彌迦和以賽亞是同一時期的一位先知，(主前八世紀)，都在南國事奉。彌迦出身寒微，工作期間幾為以賽亞的盛名所蓋，但其書中有關彌賽亞要出自小城伯利恆(彌5:2),以及世界要在　神的掌權下，不再學習戰事(彌4:3)
的預言，也像以賽亞關於基督的預言(賽7:14)一樣，都完全應驗在耶穌身上。</p>
<p>
本書是彌迦在不同的時期(經歷從約坦到希西家三個王)，所說的許多預言均收在本卷書中。他以形象的語言對時弊力施撻伐，大膽指陳泛濫南、北兩國社會中的罪惡。斥責祭司和假先知的貪財媚世，富豪佔奪貧農土地，朝中賄賂公行，商人貪婪詐騙，以至人與人間互不信任，家庭解體。　神所教導的公義與誠實完全消失，國中要找一個忠信之人，像收穫季節已過，找尋新鮮水果一樣困難(彌7:1)。</p>
<p>
先知宣告了神的刑罰：猶大國必毀滅，北國必傾覆，撒瑪利亞城成為亂堆；耶路撒冷廢墟一片；百姓被擄，過著黑暗的亡國日子。他力促全國人民要「行公義，好憐憫，存謙卑的心，與　神同行」，身體力行神的教訓。他為悔改的人預言了一個美好的日子，是陷在苦難中人類的希望。</p>
<hr>
<h1 ALIGN="center">彌迦書大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 神對猶大和以色列二國的宣判</td>
<td>1:1-2:13</td>
</tr>
<tr>
<td>二、 耶路撒冷的毀滅和彌賽亞的來臨</td>
<td>3:1-5:15</td>
</tr>
<tr>
<td>三、 神的刑罰和賜福的應許</td>
<td>6:1-7:20</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">彌迦書大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">重點</td>
<td ALIGN="center">懲實</td>
<td ALIGN="center">復興</td>
<td ALIGN="center">悔改</td>
</tr>
<tr>
<td ALIGN="center">分段</td>
<td ALIGN="center">
<p>災禍及結果</p>
<p>1-2</p>
</td>
<td ALIGN="center">
<p>譴責及安慰</p>
<p>3-5</p>
</td>
<td ALIGN="center">
<p>爭辯及約定</p>
<p>6-7</p>
</td>
</tr>
<tr>
<td ALIGN="center" ROWSPAN="2">主題</td>
<td ALIGN="center">災禍的日子</td>
<td ALIGN="center">安慰的日子</td>
<td ALIGN="center">法定的日子</td>
</tr>
<tr>
<td ALIGN="center">懲罰</td>
<td ALIGN="center">應許</td>
<td ALIGN="center">赦免</td>
</tr>
<tr>
<td ALIGN="center">地點</td>
<td ALIGN="center" COLSPAN="3">猶大及以色列</td>
</tr>
<tr>
<td ALIGN="center">時間</td>
<td ALIGN="center" COLSPAN="3">約 25 年(主前 735-710 年)</td>
</tr>
</table>
