<h1 ALIGN="center">腓立比書簡介</h1>
<p>
腓立比書是聖經中的第五十卷經書，是新約中的第十一卷。腓立比是保羅在歐洲建立的第一所教會，腓立比是當時羅馬帝國馬其頓省的一個城市。這卷書也是保羅在監獄所寫的「獄中書簡」之一。</p>
<p>
那時腓立比教會正遭異端侵襲，保羅也受到同工的攻擊，使他深受困擾；可是保羅仍能用喜樂的心情來寫這封書信給腓立比教會，顯出他對耶穌基督有堅定不移的信心。</p>
<p>
保羅寫這封書信的目的是向腓立比教會的信徒道謝，因為他在缺乏的時侯他們曾接濟過他。同時也鼓勵他們要有堅定的信心，雖然看見保羅遭遇患難，而腓立比的信徒也同遭困難，仍要他們保特勇氣和信心。勉他們要學習耶穌的謙卑，不要被自私和驕傲所支配；也提醒他們：跟基督結連的生命是出於神的恩典；這恩典是藉ぇH心領受的，不是靠げ隍A猶太人的律法而得到的。進一步說到　神賜給跟基督結連的人的喜樂和平安。</p>
<p>腓立比書是一封充滿喜樂的書信，「喜樂」、「歡樂」和「歡喜」在書中出現約二十多次。保羅說腓立比人是他的喜樂和冠昤冕(腓4:1)。
信徒應在基督堮伀`喜樂。</p>
<p>註 : 以弗所書、腓立比書、歌羅西書和腓立門書同稱為保羅的「獄中書簡」</p>
<hr>
<h1 ALIGN="center">腓立比書大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 問候</td>
<td>1:1-1:2</td>
</tr>
<tr>
<td>二、 禱告與感謝</td>
<td>1:3-1:11</td>
</tr>
<tr>
<td>三、 保羅個人景況</td>
<td>1:12-1:26</td>
</tr>
<tr>
<td>四、 勸勉</td>
<td>1:27-2:18</td>
</tr>
<tr>
<td>五、 保羅的同工</td>
<td>3:1-4:1</td>
</tr>
<tr>
<td>六、 效法基督，提防仇敵</td>
<td>3:1-4:1</td>
</tr>
<tr>
<td>七、 常在基督堻葝</td>
<td>4:2-4:20</td>
</tr>
<tr>
<td>八、 結語</td>
<td>4:21-4:23</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">腓立比書表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center" COLSPAN="2">第 1 章</td>
<td ALIGN="center" COLSPAN="2">第 2 章</td>
<td ALIGN="center">第 3 章</td>
<td ALIGN="center">第 4 章</td>
</tr>
<tr>
<td ALIGN="center">保羅的禱告</td>
<td ALIGN="center">保羅的請求</td>
<td ALIGN="center">保羅的榜樣</td>
<td ALIGN="center">保羅的計畫</td>
<td ALIGN="center">保羅的榜樣</td>
<td ALIGN="center">保羅的勸勉</td>
</tr>
<tr>
<td ALIGN="center" COLSPAN="4">神旨意堛熙蒏</td>
<td ALIGN="center" COLSPAN="2">神平安堛漲w息</td>
</tr>
</table>
