<h1 ALIGN="center">雅歌簡介</h1>
<p>
雅歌書是舊約聖經中的第二十二卷經書，也是五卷詩歌智慧書中最後一卷。與箴言和傳道書相似，同為所羅門王所寫，所羅門曾作「詩歌一千零五首」(王上4:32)；本卷書就是他許多詩歌中最美的歌，因此被稱為「歌中之歌」。</p>
<p>聖靈所以感動所羅門寫本書，並把將之列入經卷中，並不是要我們知道這僅是一個故事而已；本卷書的目的是要我們領會到：基督
(所羅門所預表的) 如何愛我們，而我們(書拉密女所預表的)應如何愛祂，追隨祂。</p>
<p>
基督愛我們的愛我們高到一個地步，人間的話無從比擬，所以聖經只能以婚姻的愛作表明，因為婚姻的愛算是人間最神聖，最純潔也是最高尚的愛。聖經一直把丈夫和妻子間愛的結合、生活、體貼比作　神愛祂的子民，又比作基督愛祂所救贖的人。</p>
<hr>
<h1 ALIGN="center">雅歌大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 第一首：初次邂逅,彼此傾慕</td>
<td>1:1</td>
</tr>
<tr>
<td>二、 第二首：渴望重逢,得償所願</td>
<td>1:2-2:7</td>
</tr>
<tr>
<td>三、 第三首：有情人終成美眷</td>
<td>3:6-5:1</td>
</tr>
<tr>
<td>四、 第四首：愛侶別離苦相思</td>
<td>5:2-6:3</td>
</tr>
<tr>
<td>五、 第五首：兩情相悅,誓不分離</td>
<td>6:4-8:4</td>
</tr>
<tr>
<td>六、 第六首：愛情無價,永遠堅立</td>
<td>8:5-8:14</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">雅歌表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">第 1 章</td>
<td ALIGN="center">第 2-3 章</td>
<td ALIGN="center">第 4 章</td>
<td ALIGN="center">第 5-8 章</td>
</tr>
<tr>
<td ALIGN="center">愛侶的仰慕</td>
<td ALIGN="center">愛情的呼召</td>
<td ALIGN="center">愛情的誓言</td>
<td ALIGN="center">愛情的昇華</td>
</tr>
<tr>
<td ALIGN="center" COLSPAN="2">愛的栽培</td>
<td ALIGN="center" COLSPAN="2">愛的歡呼</td>
</tr>
</table>
