<h1 ALIGN="center">帖撒羅尼迦後書簡介</h1>
<p>
帖撒羅尼迦後書是聖經中的第五十三卷經書，是新約中的第十四卷。帖撒羅尼迦前書寄出後，教會不斷受到外來的患難和逼迫，盼望基督的再來仍然困惑信徒，保羅又再寫第二封書信，糾正他們的錯誤；同時也勉勵他們在患難中更要有信心和耐心，也要信徒明白，苦難是　神訓練人靈性與道德的能力，可以配得將來的榮耀；加患難與人的必於患難中。保羅諄諄勸勉過分熱心盼望主再來的人：主的日子雖還沒有來；但來臨前邪惡不法的事會大大增加；行虛假奇事欺騙世人的大罪人─敵基督要出現，成為人敬拜的大偶像。但這不法的人雖有撒但撐持，但終要被</p>
<hr>
<h1 ALIGN="center">帖撒羅尼迦後書大綱</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td>一、 問候</td>
<td>1:1-1:2</td>
</tr>
<tr>
<td>二、 患難受苦有神旨意</td>
<td>1:3-1:12</td>
</tr>
<tr>
<td>三、 關於主再來的事</td>
<td>2:1-2:12</td>
</tr>
<tr>
<td>四、 感謝和訓勉</td>
<td>2:13-2:17</td>
</tr>
<tr>
<td>五、 主乃信實，忍耐等候</td>
<td>3:1-3:5</td>
</tr>
<tr>
<td>六、 殷勤工作，重視勞動</td>
<td>3:6-3:15</td>
</tr>
<tr>
<td>七、 結語與祝福</td>
<td>3:16-3:18</td>
</tr>
</table>
<hr>
<h1 ALIGN="center">帖撒羅尼迦後書表解</h1>
<table ALIGN="center" BORDER="1">
<tr>
<td ALIGN="center">第 1 章</td>
<td ALIGN="center">第 2 章</td>
<td ALIGN="center">第 3 章</td>
</tr>
<tr>
<td ALIGN="center">宣佈將臨的事件</td>
<td ALIGN="center">解釋困惑的問題</td>
<td ALIGN="center">不與怠情信徒為伍</td>
</tr>
<tr>
<td ALIGN="center">宣告</td>
<td ALIGN="center">分析</td>
<td ALIGN="center">告誡</td>
</tr>
<tr>
<td ALIGN="center" COLSPAN="3">主後 51 年在哥林多</td>
</tr>
</table>
