<h1 class=gospel>四福音書綜合--主耶穌基督微行錄</h1>
<h2 class=gospel>第一段降生受浸前之事蹟</h2>
<h3 class=gospel>第一章福音引言</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可
	<th class=gospel>路加
	<th class=gospel>約翰
	<th class=gospel>參考經文
</tr>	
<tr class=gospel>
        <td class=gospel><a href={$webroot}/browse/LUK:1:1-4>路加的序言</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LUK:1:1-4>1:1-4</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>	
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/JHN:1:1-5,JHN:1:9-14>道成肉身的奧祕</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/JHN:1:1-5>1:9-14</a>
	<td class=gospel>&nbsp;
</tr>	
</table>
