<h1 class=gospel>四福音書綜合 -- 主耶穌基督微行錄</h1>
<h2 class=gospel>第一段降生受浸前之事蹟</h2>
<h3 class=gospel>第五章耶穌基督誕生</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可     
	<th class=gospel>路加
	<th class=gospel>約翰     
	<th class=gospel>參考經文
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:2:1-1,LUK:2:1-7>降生在伯利恆</a>
	<td class=gospel><a href={$webroot}/browse/MAT:2:1-1>2:1</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LUK:2:1-7>2:1-7</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/LUK:2:8-20>天使報大喜訊</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LUK:2:8-20>2:8-20</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:1:25-25,LUK:2:21-21>起名叫耶穌</a>
	<td class=gospel><a href={$webroot}/browse/MAT:1:25-25>1:25</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LUK:2:21-21>2:21</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/LUK:2:1-12>博士來朝拜</a>
	<td class=gospel><a href={$webroot}/browse/LUK:2:1-12>2:1-12</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/LUK:2:22-39>奉獻給神</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LUK:2:22-39>2:22-39</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:2:13-15>往埃及避難</a>
	<td class=gospel><a href={$webroot}/browse/MAT:2:13-15>2:13-15</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:2:16-18>希律屠殺男嬰</a>
	<td class=gospel><a href={$webroot}/browse/MAT:2:16-18>2:16-18</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
</table>
