<h1 class=gospel>四福音書綜合 -- 主耶穌基督微行錄</h1>
<h2 class=gospel>第二段傳道前之預備工作</h2>
<h3 class=gospel>第四章開始傳道</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可     
	<th class=gospel>路加
	<th class=gospel>約翰     
	<th class=gospel>參考經文
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/JHN:2:1-11>行頭一個神蹟</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/JHN:2:1-11>2:1-11</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/JHN:2:12-12>與門徒去迦百農</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/JHN:2:12-12>2:12</a>
	<td class=gospel>&nbsp;
</tr>
</table>
