<h1 class=gospel>四福音書綜合 -- 主耶穌基督微行錄</h1>
<h2 class=gospel>第三段  第一年之傳道工作</h2>
<h3 class=gospel>第六章  在迦百農之工作</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可     
	<th class=gospel>路加
	<th class=gospel>約翰     
	<th class=gospel>參考經文
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:8:14-15;MAK:1:29-31;LUK:4:38-39;ISA:53:4-4>醫治彼得的岳母</a>
	<td class=gospel><a href={$webroot}/browse/MAT:8:14-15>8:14-15</a>
	<td class=gospel><a href={$webroot}/browse/MAK:1:29-31>1:29-31</a>
	<td class=gospel><a href={$webroot}/browse/LUK:4:38-39>4:38-39</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/ISA:53:4-4>賽53:4</a>
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:8:16-17;MAK:1:32-34;LUK:4:40-41;ISA:53:4-4>醫治其他樣的病人</a>
	<td class=gospel><a href={$webroot}/browse/MAT:8:16-17>8:16-17</a>
	<td class=gospel><a href={$webroot}/browse/MAK:1:32-34>1:32-34</a>
	<td class=gospel><a href={$webroot}/browse/LUK:4:40-41>4:40-41</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/ISA:53:4-4>賽53:4</a>
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:9:1-8;MAK:2:1-12;LUK:5:17-26;ROM:3:23-23>醫治四人抬來的癱子</a>
	<td class=gospel><a href={$webroot}/browse/MAT:9:1-8>9:1-8</a>
	<td class=gospel><a href={$webroot}/browse/MAK:2:1-12>2:1-12</a>
	<td class=gospel><a href={$webroot}/browse/LUK:5:17-26>5:17-26</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/ROM:3:23-23>羅3:23</a>
</tr>
</table>
