<h1 class=gospel>四福音書綜合 -- 主耶穌基督微行錄</h1>
<h2 class=gospel>第四段  第二年之傳道工作</h2>
<h3 class=gospel>第四章  登山寶訓</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可
	<th class=gospel>路加
	<th class=gospel>約翰
	<th class=gospel>參考經文
</tr>
<tr class=gospel>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:5:1-12>天國子民的性質</a>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:5:1-12>5:1-12</a>
        <td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:5:13-16>天國子民對世界之影響</a>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:5:13-16>5:13-16</a>
        <td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:5:17-48>天國子民之義</a>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:5:17-48>5:17-48</a>
        <td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:6:1-18>天國子民的事奉</a>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:6:1-18>6:1-18</a>
        <td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:6:19-34>天國子民的金錢觀</a>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:6:19-34>6:19-34</a>
        <td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:7:1-12>天國子民的對人原則</a>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:7:1-12>7:1-12</a>
        <td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:7:13-29>天國子民的工作依據</a>
	 <td class=gospel><a href=../retrieve/?ranges=MAT:7:13-29>7:13-29</a>
        <td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
</table>
