<h1 class=gospel>四福音書綜合 -- 主耶穌基督微行錄</h1>
<h2 class=gospel>第伍段 第三年之傳道工作</h2>
<h3 class=gospel>第十章 耶穌之醫治工作</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可
	<th class=gospel>路加
	<th class=gospel>約翰
	<th class=gospel>參考經文
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:15:21-28;MAK:7:24-30>醫治迦南婦人的兒女</a>
	<td class=gospel><a href={$webroot}/browse/MAT:15:21-28>15:21-28</a>
	<td class=gospel><a href={$webroot}/browse/MAK:7:24-30>7:24-30</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:15:29-31;MAK:7:31-37>醫好聾啞及其他病人</a>
	<td class=gospel><a href={$webroot}/browse/MAT:15:29-31>15:29-31</a>
	<td class=gospel><a href={$webroot}/browse/MAK:7:31-37>7:31-37</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAK:8:22-26>使瞎子看見</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/MAK:8:22-26>8:22-26</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:17:14-21;MAK:9:14-29;LUK:9:37-43>醫治癲癇的孩子</a>
	<td class=gospel><a href={$webroot}/browse/MAT:17:14-21>17:14-21</a>
	<td class=gospel><a href={$webroot}/browse/MAK:9:14-29>9:14-29</a>
	<td class=gospel><a href={$webroot}/browse/LUK:9:37-43>9:37-43</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/JHN:9:1-41>醫治生來瞎眼者</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/JHN:9:1-41>9:1-41</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/LUK:13:10-17;DEU:5:12-15>治好十八年的病患</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LUK:13:10-17>13:10-17</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/DEU:5:12-15>申5:12-15</a>
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/LUK:14:1-6>醫治患水臌病的人</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LUK:14:1-6>14:14-6</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/LUK:17:11-19;LEV:13:45-46>潔淨十個長大痳瘋者</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LUK:14:11-19>14:11-19</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LEV:13:45-46>利13:45-46</a>
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:20:29-34;MAK:10:46-52;LUK:18:35-43>耶利哥城外二個瞎子</a>
	<td class=gospel><a href={$webroot}/browse/MAT:20:29-34>20:29-34</a>
	<td class=gospel><a href={$webroot}/browse/MAK:10:46-52>10:46-52</a>
	<td class=gospel><a href={$webroot}/browse/LUK:18:35-43>18:35-43</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
</table>
