<h1 class=gospel>四福音書綜合 -- 主耶穌基督微行錄</h1>
<h2 class=gospel>第伍段 第三年之傳道工作</h2>
<h3 class=gospel>第三章 腓立比的黑門山</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可
	<th class=gospel>路加
	<th class=gospel>約翰
	<th class=gospel>參考經文
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:17:1-8,MAK:9:2-8,LUK:9:28-36>耶穌登山變像</a>
	<td class=gospel><a href={$webroot}/browse/MAT:17:1-8>17:1-8</a>
	<td class=gospel><a href={$webroot}/browse/MAK:9:2-8>9:2-8</a>
	<td class=gospel><a href={$webroot}/browse/LUK:9:28-36>9:28-36</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:17:9-13,MAK:9:9-13,ISA:42:1-1>以利亞要再來</a>
	<td class=gospel><a href={$webroot}/browse/MAT:17:9-13>17:9-13</a>
	<td class=gospel><a href={$webroot}/browse/MAK:9:9-13>9:9-13</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/ISA:42:1-1>賽42:1</a>
</tr>
</table>
