<h1 class=gospel>四福音書綜合 -- 主耶穌基督微行錄</h1>
<h2 class=gospel>第陸段 受難前一週之事跡</h2>
<h3 class=gospel>第三章 耶穌論祂的權棆</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可
	<th class=gospel>路加
	<th class=gospel>約翰
	<th class=gospel>參考經文
</tr>
<tr class=gospel>
	<td class=gospel><a href=../retrieve/?ranges=MAT:21:23-27&ranges=MAK:11:27-33&ranges=LUK:20:1-8>對答祭司長的問題</a>
	<td class=gospel><a href=../retrieve/?ranges=MAT:21:23-27>21:23-27</a>
	<td class=gospel><a href=../retrieve/?ranges=MAK:11:27-33>11:27-33</a>
	<td class=gospel><a href=../retrieve/?ranges=LUK:20:1-8>20:1-8</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href=../retrieve/?ranges=MAT:21:28-32>兩個兒子聽話的比喻</a>
	<td class=gospel><a href=../retrieve/?ranges=MAT:21:28-32>21:28-32</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href=../retrieve/?ranges=MAT:21:33-46&ranges=MAK:12:1-12&ranges=LUK:20:9-19&ranges=ISA:5:1-2>惡園戶的比喻</a>
	<td class=gospel><a href=../retrieve/?ranges=MAT:21:33-46>21:33-46</a>
	<td class=gospel><a href=../retrieve/?ranges=MAK:12:1-12>12:1-12</a>
	<td class=gospel><a href=../retrieve/?ranges=LUK:20:9-19>20:9-19</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href=../retrieve/?ranges=ISA:5:1-2>賽5:1-2</a>
</tr>
<tr class=gospel>
	<td class=gospel><a href=../retrieve/?ranges=MAT:22:1-14>設婚筵的比喻</a>
	<td class=gospel><a href=../retrieve/?ranges=MAT:22:1-14>22:1-14</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
</table>
