<h1 class=gospel>四福音書綜合 -- 主耶穌基督微行錄</h1>
<h2 class=gospel>第柒段 耶穌基督復活升天
<h3 class=gospel>第二章 抹大拉馬利亞</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可
	<th class=gospel>路加
	<th class=gospel>約翰
	<th class=gospel>參考經文
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAK:16:9-9;JHN:20:11-17>向抹大拉馬利亞顯現</a>
	<td class=gospel>&nbsp;	
	<td class=gospel><a href={$webroot}/browse/MAK:16:9-9>16:9</a>
	<td class=gospel>&nbsp;	
	<td class=gospel><a href={$webroot}/browse/JHN:20:11-17>20:11-17</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAT:28:9-10>向其他之婦女顯現</a>
	<td class=gospel><a href={$webroot}/browse/MAT:28:9-10>28:9-10</a>
	<td class=gospel>&nbsp;	
	<td class=gospel>&nbsp;	
	<td class=gospel>&nbsp;	
	<td class=gospel>&nbsp;	
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAK:16:10-11;LUK:24:10-11;JHN:20:18-18>婦女向門徒作見證</a>
	<td class=gospel>&nbsp;	
	<td class=gospel><a href={$webroot}/browse/MAK:16:10-11>16:10-11</a>
	<td class=gospel><a href={$webroot}/browse/LUK:24:10-11>24:10-11</a>
	<td class=gospel><a href={$webroot}/browse/JHN:20:18-18>20:18</a>
	<td class=gospel>&nbsp;
</tr>
</table>
