<h1 class=gospel>四福音書綜合 -- 主耶穌基督微行錄</h1>
<h2 class=gospel>第柒段 耶穌基督復活升天
<h3 class=gospel>第三章 主向門徒顯現</h3>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>分節標題
	<th class=gospel>馬太
	<th class=gospel>馬可
	<th class=gospel>路加
	<th class=gospel>約翰
	<th class=gospel>參考經文
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/MAK:16:12-14,LUK:24:13-35>在以馬忤斯路上</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/MAK:16:12-14>16:12-14</a>
	<td class=gospel><a href={$webroot}/browse/LUK:24:13-35>24:13-35</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/LUK:24:36-49,JHN:20:19-25>向門徒顯現</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/LUK:24:36-49>24:36-49</a>
	<td class=gospel><a href={$webroot}/browse/JHN:20:19-25>20:19-25</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/JHN:20:26-29>向多馬顯現</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/JHN:20:26-29>20:26-29</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse/1CO:15:6-7>向五百弟兄顯現</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse/1CO:15:6-7>林前15:6-7</a>
</tr>
</table>
