<h1 class=gospel>四福音書綜合--主耶穌基督微行錄</h1>
<h2 class=gospel>第捌段 附錄</h2>
<h3 class=gospel>附錄A.主耶穌所行的神蹟之一</h3>
<h4>醫治疾病之神蹟</h4>
<table class=gospel border=1>
<tr class=gospel>
	<th class=gospel>一、醫治疾病
	<th class=gospel>時間
	<th class=gospel>馬太
	<th class=gospel>馬可
	<th class=gospel>路加
	<th class=gospel>約翰
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAT:8:14-15;MAK:1:30-31;LUK:4:38-39>1.彼得岳母的熱病</a>
	<th class=gospel>AD.28年春
	<td class=gospel><a href={$webroot}/browse#MAT:8:14-15>8:14-15</a>
	<td class=gospel><a href={$webroot}/browse#MAK:1:30-31>1:30-31</a>
	<td class=gospel><a href={$webroot}/browse#LUK:4:38-39>4:38-39</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAT:8:2-4;MAK:1:40-44;LUK:5:12-14>2.長大痲瘋病的人</a>
	<th class=gospel>AD.28年春
	<td class=gospel><a href={$webroot}/browse#MAT:8:2-4>8:2-4</a>
	<td class=gospel><a href={$webroot}/browse#MAK:1:40-44>1:40-44</a>
	<td class=gospel><a href={$webroot}/browse#LUK:5:12-14>5:12-14</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAT:9:2-7;MAK:2:3-12;LUK:5:18-26>3.四人抬來的癱子</a>
	<th class=gospel>AD.28年春
	<td class=gospel><a href={$webroot}/browse#MAT:9:2-7>9:2-7</a>
	<td class=gospel><a href={$webroot}/browse#MAK:2:3-12>2:3-12</a>
	<td class=gospel><a href={$webroot}/browse#LUK:5:12-14>5:18-26</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#JHN:4:46-54>4.迦百農大臣的兒子</a>
	<th class=gospel>AD.28年春
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#JHN:4:46-54>4:46-54</a>
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#JHN:5:2-9>5.畢士大池旁的癱子</a>
	<th class=gospel>AD.28年4月
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#JHN:5:2-9>5:2-9</a>
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAT:12:9-13MAK:3:1-5LUK:6:6-10>6.枯乾了一隻手的人</a>
	<th class=gospel>AD.28年5月
	<td class=gospel><a href={$webroot}/browse#MAT:12:9-13>5:2-9</a>
	<td class=gospel><a href={$webroot}/browse#MAK:3:1-5>5:2-9</a>
	<td class=gospel><a href={$webroot}/browse#JHN:6:6-10>5:2-9</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAT:8:5-13;LUK:7:1-10>7.百夫長僕人的癱瘓病</a>
	<th class=gospel>AD.28年夏
	<td class=gospel><a href={$webroot}/browse#MAT:8:5-13>8:5-13</a>
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#LUK:7:1-10>7:1-10</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAT:9:20-22;MAK:5:25-34;LUK:8:43-48>8.患血漏症的女人</a>
	<th class=gospel>AD.28年秋
	<td class=gospel><a href={$webroot}/browse#MAT:9:20-22>9:20-22</a>
	<td class=gospel><a href={$webroot}/browse#MAK:5:25-34>5:25-34</a>
	<td class=gospel><a href={$webroot}/browse#LUK:8:43-48>8:43-48</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAT:9:27-31>9.兩個瞎子</a>
	<th class=gospel>AD.28年秋
	<td class=gospel><a href={$webroot}/browse#MAT:9:27-31>9:27-31</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAK:7:31-37>10.耳聾舌結的人</a>
	<th class=gospel>AD.29年夏
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#MAK:7:31-37>7:31-37</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAK:8:22-26>11.伯賽大的瞎子</a>
	<th class=gospel>AD.29年夏
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#MAK:8:22-26>7:31-37</a>
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#JHN:9:1-7>12.生來瞎眼的人</a>
	<th class=gospel>AD.29年11月
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#JHN:9:1-7>9:1-7</a>
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#LUK:13:11-13>13.癱瘓十八年的婦人</a>
	<th class=gospel>AD.30年2月
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#LUK:13:11-13>13:11-13</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#LUK:14:1-4>14.生水臌病的人</a>
	<th class=gospel>AD.30年2月
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#LUK:14:1-4>14:1-4</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#LUK:17:11-19>15.十個長大麻瘋的人</a>
	<th class=gospel>AD.30年3月
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#LUK:17:11-19>17:11-19</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#MAT:20:29-34;MAK:10:46-52;LUK:18:35-43>16.耶利哥討飯的瞎子</a>
	<th class=gospel>AD.30年3月
	<td class=gospel><a href={$webroot}/browse#MAT:20:29-34>20:29-34</a>
	<td class=gospel><a href={$webroot}/browse#MAK:10:46-52>10:46-52</a>
	<td class=gospel><a href={$webroot}/browse#LUK:18:35-43>18:35-43</a>
	<td class=gospel>&nbsp;
</tr>
<tr class=gospel>
	<td class=gospel><a href={$webroot}/browse#LUK:22:50-51>17.接上大祭司僕人的右耳</a>
	<th class=gospel>AD.30年4月6日
	<td class=gospel>&nbsp;
	<td class=gospel>&nbsp;
	<td class=gospel><a href={$webroot}/browse#LUK:22:50-51>22:50-51</a>
	<td class=gospel>&nbsp;
</tr>
</table>
