<div id="share-widget">
<div class="addthis_toolbox addthis_default_style addthis">
<script>
  var l = window.location.href;
  var new_location = l.replace("#", "/");
  alert(new_location);
  document.write("<a class='addthis_button_facebook' addthis:url='" + new_location + "'></a>");
  document.write("<a class='addthis_button_twitter' addthis:url='" + new_location + "'></a>");
  document.write("<a class='addthis_button_google_plusone_share' addthis:url='" + new_location + "'></a>");
</script>
<a class="addthis_button_email"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5136eab35386b394"></script>
</div>
