{assign var='title' value='聖經地圖'}
{include file="header.tmpl"}

<div class="page-body" id="biblemap-body">
  <form>
    <select name="biblemap" id="biblemap-select">
    </select>
  </form>
  <div ID="map_canvas"></div></div>
</div>

<script TYPE="text/javascript" SRC="http://www.google.com/jsapi?sensor=false&amp;key=ABQIAAAAY34p2enf-VdbmZjgD6QaNhSxt77ZyXQbxX67Z4n-H1NhHCVDlRQBu4g6QWBEYhJ7VRbCuXwr4fyBww">
</script>

<script TYPE="text/javascript"> 
google.load('maps', '2');
</script>

{include file="footer.tmpl"}
