{assign var='title' value='經節查詢'}
{include file="header.tmpl"}
{include file="browse-toolbar.tmpl"}

<div class="page-body" id="browse-body"></div>

<script TYPE="text/javascript">
  jsonURL = '{$webroot}/retrieve/{$jsonURL}';
</script>
{include file="footer.tmpl"}
