{assign var='title' value='每日讀經'}
{include file="header.tmpl"}
<div class="page-body" id="calendar-body">
  <form class="calendar">
    讀經表：
    <select name="calendar-type" class="calendar-type">
    </select>
  </form>
  <div id="calendar"></div>
  <div id="calendar-schedule"></div>
</div>
{include file="footer.tmpl"}
