{assign var='title' value='聖經詞彙'}
{include file="header.tmpl"}
<div class="page-body" id="glossary-body">
  <table class="glossary-index-anchors">
    <tr>
      <td id="by-stroke">
        <div>以筆畫查詢</div>
      </td>
      <td id="by-alpha">
        <div>以字母查詢</div>
      </td>
    </tr>
  </table>
  <div id="glossary-index-header" class="glossary-index-header"></div>
  <table id="glossary-index-table" class="glossary-index-table"></table>
  <div class="glossary" id="glossary"></div>
{include file="footer.tmpl"}
