<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
  <head>
    <meta NAME="description" CONTENT="Jedaiah Bibletool by Alber Ko">
    <meta NAME="keywords" CONTENT="Bible, Bible Tool, Bible Study, Chinese Bible, Alber Ko, 葛家祥, 耶大雅, 聖經, 聖經詞彙, 聖經工具, 四福音書, 中文聖經, King James, Bible Topics">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link HREF="images/favicon.ico" REL="icon" TYPE="image/x-icon">
    <title>耶大雅聖經工具 | {$title}</title>
    <link REL="stylesheet" TYPE="text/css" HREF="{$webroot}/css/bibletool.css">
    <script TYPE="text/javascript" SRC="{$webroot}/js/jquery.min.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/js/bibletool.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/web/anarchy_media/anarchy.js"></script>
  </head>
  <body>
    <div CLASS="page-header">
      <h1>耶大雅聖經工具</h1>
      <div CLASS="section-navigator">
        <a CLASS="section-navigator-{if $action == 'static'}current{else}other{/if}" HREF="{$webroot}/static/about">緣由</a>
        <a CLASS="section-navigator-{if $action == 'browse'}current{else}other{/if}" HREF="{$webroot}/browse">經節查詢</a>
        <a CLASS="section-navigator-{if $action == 'interlinear'}current{else}other{/if}" HREF="{$webroot}/interlinear">聖經對照</a>
        <a CLASS="section-navigator-{if $action == 'search'}current{else}other{/if}" HREF="{$webroot}/query">字串查詢</a>
        <a CLASS="section-navigator-{if $action == 'outline'}current{else}other{/if}" HREF="{$webroot}/outline">聖經綱要</a>
        <a CLASS="section-navigator-{if $action == 'glossary'}current{else}other{/if}" HREF="{$webroot}/glossary">聖經詞彙</a>
        <a CLASS="section-navigator-{if $action == 'gospel'}current{else}other{/if}" HREF="{$webroot}/gospel">四福音書</a>
        <a CLASS="section-navigator-{if $action == 'biblemap'}current{else}other{/if}" HREF="{$webroot}/biblemap">聖經地圖</a>
        <a CLASS="section-navigator-{if $action == 'subject'}current{else}other{/if}" HREF="{$webroot}/subject">聖經主題</a>
        <a CLASS="section-navigator-{if $action == 'contactus'}current{else}other{/if}" HREF="{$webroot}/contactus">聯絡我們</a>
      </div>
    </div>
    
