<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta NAME="description" CONTENT="Jedaiah Bibletool by Alber Ko">
    <meta NAME="keywords" CONTENT="Bible, Bible Tool, Bible Study, Chinese Bible, Alber Ko, 葛家祥, 耶大雅, 聖經, 聖經詞彙, 聖經工具, 四福音書, 中文聖經, King James, Bible Topics">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=360, initial-scale=1">
    <link HREF="{$webroot}/images/favicon.ico" REL="icon" TYPE="image/x-icon">
    <link type="application/opensearchdescription+xml" rel="search" href="https://bibletool.konline.org/osdd.xml"/>
    <title>耶大雅聖經工具 | {$title}</title>
    <link REL="stylesheet" TYPE="text/css" HREF="{$webroot}/css/bibletool.css">
    <script TYPE="text/javascript" SRC="{$webroot}/js/jquery.min.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/js/jquery.ba-bbq.min.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/js/json.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/js/application.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/js/bibletool.js"></script>
    {if $action == 'browse'}
    <script TYPE="text/javascript" SRC="{$webroot}/js/Navigation.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/js/Browse.js"></script>
    {elseif $action == 'interlinear'}
    <script TYPE="text/javascript" SRC="{$webroot}/js/Navigation.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/js/Interlinear.js"></script>
    {elseif $action == 'query'}
    <script TYPE="text/javascript" SRC="{$webroot}/js/Query.js"></script>
    {elseif $action == 'calendar'}
    <link REL="stylesheet" TYPE="text/css" HREF="{$webroot}/css/jquery-ui-1.8.14.custom.css">
    <script TYPE="text/javascript" SRC="{$webroot}/js/jquery-ui-1.8.14.custom.min.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/js/jquery.ui.datepicker-zh-TW.js"></script>
    <script TYPE="text/javascript" SRC="{$webroot}/js/Calendar.js"></script>
    {elseif $action == 'glossary'}
    <script TYPE="text/javascript" SRC="{$webroot}/js/Glossary.js"></script>
    {elseif $action == 'biblemap'}
    <script TYPE="text/javascript" SRC="{$webroot}/js/Biblemap.js"></script>
    {elseif $action == 'subjects'}
    <script TYPE="text/javascript" SRC="{$webroot}/js/Subjects.js"></script>
    {/if}
  </head>
  <body>
    <div CLASS="page-header">
      <img src={$webroot}/images/logo_brown.gif class=logo>
      <div CLASS="section-navigator">
        <a CLASS="section-navigator-{if $action == 'static'}current{else}other{/if}" HREF="{$webroot}/static/about">緣由</a>
        <a CLASS="section-navigator-{if $action == 'browse'}current{else}other{/if}" HREF="{$webroot}/browse">經節查詢</a>
        <a CLASS="section-navigator-{if $action == 'interlinear'}current{else}other{/if}" HREF="{$webroot}/interlinear">聖經對照</a>
        <a CLASS="section-navigator-{if $action == 'query'}current{else}other{/if}" HREF="{$webroot}/query">字串查詢</a>
        <a CLASS="section-navigator-{if $action == 'calendar'}current{else}other{/if}" HREF="{$webroot}/calendar">每日讀經</a>
        <a CLASS="section-navigator-{if $action == 'outline'}current{else}other{/if}" HREF="{$webroot}/outline">聖經綱要</a>
        <a CLASS="section-navigator-{if $action == 'glossary'}current{else}other{/if}" HREF="{$webroot}/glossary">聖經詞彙</a>
        <a CLASS="section-navigator-{if $action == 'gospel'}current{else}other{/if}" HREF="{$webroot}/gospel">四福音書</a>
        <a CLASS="section-navigator-{if $action == 'biblemap'}current{else}other{/if}" HREF="{$webroot}/biblemap">聖經地圖</a>
        <a CLASS="section-navigator-{if $action == 'subjects'}current{else}other{/if}" HREF="{$webroot}/subjects">聖經主題</a>
        <a CLASS="section-navigator-{if $action == 'contactus'}current{else}other{/if}" HREF="{$webroot}/contactus">聯絡我們</a>
      </div>
    </div>

{include file="addthis.tmpl"}
