{assign var='title' value='聖經對照'}
{include file="header.tmpl"}
{include file="interlinear-toolbar.tmpl"}

<div class="page-body" id="interlinear-body"></div>
<div class="interlinear-versions">
  <span class="interlinear-version">[UCV] 國語和合本</span>
  <span class="interlinear-version">[NCV] 中文新譯本</span>
  <span class="interlinear-version">[CLV] 當代中譯本</span>
  <span class="interlinear-version">[LZZ] 呂振中譯本</span>
  <span class="interlinear-version">[KJV] 英文欽定本</span>
  <span class="interlinear-version">[UCV_CN] 國語和合本（簡體）</span>
  <span class="interlinear-version">[NCV_CN] 中文新譯本（簡體）</span>
  <span class="interlinear-version">[CLV_CN] 當代中譯本（簡體）</span>
  <span class="interlinear-version">[LZZ_CN] 呂振中譯本（簡體）</span>
</div>
{include file="footer.tmpl"}
