{assign var='title' value='聖經綱要'}
{include file="header.tmpl"}
<table CLASS="static-table">
  <tr CLASS="static-table-row">
    <td CLASS="static-section-index">
      <ul>
        <li {if $page=='GEN'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/GEN">創世記</a></li>
        <li {if $page=='EXO'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/EXO">出埃及記</a></li>
        <li {if $page=='LEV'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/LEV">利未記</a></li>
        <li {if $page=='NUM'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/NUM">民數記</a></li>
        <li {if $page=='DET'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/DET">申命記</a></li>
        <li {if $page=='JOS'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JOS">約書亞記</a></li>
        <li {if $page=='JDG'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JDG">士師記</a></li>
        <li {if $page=='RUT'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/RUT">路得記</a></li>
        <li {if $page=='SA1'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/SA1">撒母耳記上</a></li>
        <li {if $page=='SA2'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/SA2">撒母耳記下</a></li>
        <li {if $page=='KI1'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/KI1">列王紀上</a></li>
        <li {if $page=='KI2'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/KI2">列王紀下</a></li>
        <li {if $page=='CH1'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/CH1">歷代志上</a></li>
        <li {if $page=='CH2'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/CH2">歷代志下</a></li>
        <li {if $page=='EZR'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/EZR">以斯拉記</a></li>
        <li {if $page=='NEH'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/NEH">尼希米記</a></li>
        <li {if $page=='EST'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/EST">以斯帖記</a></li>
        <li {if $page=='JOB'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JOB">約伯記</a></li>
        <li {if $page=='PSA'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/PSA">詩篇</a></li>
        <li {if $page=='PRV'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/PRV">箴言</a></li>
        <li {if $page=='ECC'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/ECC">傳道書</a></li>
        <li {if $page=='SOS'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/SOS">雅歌</a></li>
        <li {if $page=='ISA'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/ISA">以賽亞書</a></li>
        <li {if $page=='JER'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JER">耶利米書</a></li>
        <li {if $page=='LAM'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/LAM">耶利米哀歌</a></li>
        <li {if $page=='EZE'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/EZE">以西結書</a></li>
        <li {if $page=='DAN'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/DAN">但以理書</a></li>
        <li {if $page=='HOS'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/HOS">何西阿書</a></li>
        <li {if $page=='JOE'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JOE">約珥書</a></li>
        <li {if $page=='AMS'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/AMS">阿摩司書</a></li>
        <li {if $page=='OBA'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/OBA">俄巴底亞書</a></li>
        <li {if $page=='JNH'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JNH">約拿書</a></li>
        <li {if $page=='MIC'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/MIC">彌迦書</a></li>
        <li {if $page=='NAH'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/NAH">那鴻書</a></li>
        <li {if $page=='HAB'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/HAB">哈巴谷書</a></li>
        <li {if $page=='ZEP'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/ZEP">西番雅書</a></li>
        <li {if $page=='HAG'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/HAG">哈該書</a></li>
        <li {if $page=='ZEC'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/ZEC">撒迦利亞書</a></li>
        <li {if $page=='MAL'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/MAL">瑪拉基書</a></li>
        <li {if $page=='MAT'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/MAT">馬太福音</a></li>
        <li {if $page=='MAK'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/MAK">馬可福音</a></li>
        <li {if $page=='LUK'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/LUK">路加福音</a></li>
        <li {if $page=='JHN'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JHN">約翰福音</a></li>
        <li {if $page=='ACT'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/ACT">使徒行傳</a></li>
        <li {if $page=='ROM'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/ROM">羅馬人書</a></li>
        <li {if $page=='CO1'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/CO1">哥林多前書</a></li>
        <li {if $page=='CO2'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/CO2">哥林多後書</a></li>
        <li {if $page=='GAL'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/GAL">加拉太書</a></li>
        <li {if $page=='EPH'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/EPH">以弗所書</a></li>
        <li {if $page=='PHP'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/PHP">腓立比書</a></li>
        <li {if $page=='COL'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/COL">歌羅西書</a></li>
        <li {if $page=='TH1'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/TH1">帖撒羅尼迦前書</a></li>
        <li {if $page=='TH2'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/TH2">帖撒羅尼迦後書</a></li>
        <li {if $page=='TI1'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/TI1">提摩太前書</a></li>
        <li {if $page=='TI2'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/TI2">提摩太後書</a></li>
        <li {if $page=='TIT'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/TIT">提多書</a></li>
        <li {if $page=='PHM'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/PHM">腓利門書</a></li>
        <li {if $page=='HEB'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/HEB">希伯來書</a></li>
        <li {if $page=='JAS'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JAS">雅各書</a></li>
        <li {if $page=='PE1'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/PE1">彼得前書</a></li>
        <li {if $page=='PE2'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/PE2">彼得後書</a></li>
        <li {if $page=='JN1'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JN1">約翰一書</a></li>
        <li {if $page=='JN2'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JN2">約翰二書</a></li>
        <li {if $page=='JN3'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JN3">約翰三書</a></li>
        <li {if $page=='JUD'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/JUD">猶大書</a></li>
        <li {if $page=='REV'}CLASS="static-page-current"{/if}><a HREF="{$webroot}/outline/REV">啟示錄</a></li>
      </ul>
    </td>
    <td CLASS="static-content">
      {include file="outline/$page.tmpl"}
    </td>
  </tr>
</table>
{include file="footer.tmpl"}
