{assign var='title' value='字串查詢'}
{include file="header.tmpl"}

<div class="page-body">
  <div CLASS="query-form-standalone">
    <form id="query-form">
      <div>版本 <select NAME="version" ID="version">
          <option VALUE="UCV" SELECTED="selected">國語和合本</option>
          <option VALUE="NCV">中文新譯本</option>
          <option VALUE="CLV">當代中譯本</option>
          <option VALUE="LZZ">呂振中譯本</option>
          <option VALUE="KJV">英文欽定本</option>
          <option VALUE="UCV_CN">國語和合本（簡體）</option>
          <option VALUE="NCV_CN">中文新譯本（簡體）</option>
          <option VALUE="CLV_CN">當代中譯本（簡體）</option>
          <option VALUE="LZZ_CN">呂振中譯本（簡體）</option>
        </select>
      </div>
      <div>字串 <input TYPE="text" NAME="query">
        <input TYPE="submit" VALUE="搜索">
      </div>
    </form>
  </div>
  <div id="query-result"></div>
</div>
{include file="footer.tmpl"}
